-i https://pypi.org/simple
decorator==4.4.2
waitress==2.1.1
gunicorn==19.9.0
defusedxml==0.6.0
flask==1.1.2
h5py==2.10.0
idna==2.9
itsdangerous==1.1.0
jedi==0.17.0
jinja2==2.11.2
json5==0.9.4
jsonschema==3.2.0
keras-preprocessing==1.1.2
numpy==1.18.4
opencv-python==4.2.0.34
opt-einsum==3.2.1
pandas==1.0.3	
pickleshare==0.7.5
python-dateutil==2.8.1
tensorflow==1.14
wheel==0.34.2 ; python_version >= '3'
wrapt==1.12.1
zipp==3.1.0
